body{

 background-color:  #E2B689;   
}
div.navega{
    text-align: right;
}



ul.navega li {
    
    display: inline;
    text-align: right;
    
        list-style-type:none;
        
    padding-right: 0.5em;    
    color:#693A0C;
    font-family:  Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    font-size: 16px;
    
  }

  img{
    width: 1000px; height: 500px;
    display: block;
    margin: auto;
  }
